<% title "Sign up" %>

<div class="left span-9 prepend-2">

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <p>
        <%= f.label :email %><br/>
        <%= f.email_field :email, :class => "text focus"  %>
      </p>

      <p>
        <%= f.label :username %><br/>
        <%= f.text_field :username, :class => "text"  %>
      </p>

    <% if @user.password_required? %>
      <p>
        <%= f.label :password %><br/>
        <%= f.password_field :password, :class => "text"  %>
      </p>

      <p>
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, :class => "text"  %>
      </p>
    <% end %>

      <p><button type="submit" class="button" title="Sign up">Sign up</button></p>

    <% end %>

    <%= render :partial => "devise/shared/links" %>
</div>

<%= render 'shared/open_auth' %>