<% if @schedule %>
    <table>
      <thead>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Total</th>
        <th>To Principle</th>
        <th>Interest</th>
        <th>Escrow</th>
        <th>Payment</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @schedule.each do |line| %>
          <tr class="<%= line[:class] %>">
            <td><%= line[:number] %></td>
            <td><%= line[:date] %></td>
            <td><b><%= number_to_currency line[:total] %></b></td>
            <td><%= number_to_currency line[:to_principle] %></td>
            <td><%= number_to_currency line[:interest] %></td>
            <td><%= number_to_currency line[:escrow] %></td>
            <td><b><%= number_to_currency line[:payment] %></b></td>
            <td>
              <%- if line[:class].nil? %>
              <%- elsif @loan.id.nil? %>
              <%- elsif line[:class].empty? %>
              <%= form_tag({:controller => "payments", :action => "new", :loan_id => @loan.id},
                    :class => 'new-payment', 'data-remote' => :true, 'data-method' => :get, :method => :get,
                    :id => 'add-payment-' + @loan.id.to_s + '-' + line[:number].to_s) do %>
                    <input type="hidden" name="payment[amount]" value="<%= line[:payment] %>">
                    <input type="hidden" name="payment[escrow]" value="<%= line[:escrow] %>">
                    <input type="hidden" name="payment[interest]" value="<%= line[:interest] %>">
                    <input type="hidden" name="payment[date]" value="<%= line[:date] %>">
                  <!--<a href="#">+</a>-->
                  <button type="submit" class="" id="new-payment-<%= @loan.id.to_s + '-' + line[:number].to_s %>" title="save">+</button>
              <% end %>
              <% end -%>
            </td>
          </tr>
      <% end %>
      </tbody>

    </table>
<% else %>
    <h2 class="alt">Schedule is not loaded, perhaps you need to enter more data</h2>
<% end %>
