<%= form_for(@loan) do |f| %>
<div class="span-7 prepend-1 append-1">
  <div class="field">
    <%= f.label :loan_amount %><br />
    <%= f.text_field :loan_amount, :class => "text span-7", :value => number_with_precision(f.object.loan_amount, :precision => 2), :disabled => "disabled" %>
  </div>
  <div class="field">
    <%= f.label :expected_payments %><br />
    <%= f.text_field :expected_payments, :class => "text span-7", :disabled => "disabled" %>
  </div>
  <div class="field">
    <%= f.label :last_payment, "Last payment" %><br />
    <%= f.text_field :last_payment, :class => "text span-7", :value => number_with_precision(f.object.last_payment, :precision => 2), :disabled => "disabled" %>
  </div>
</div>
<div class="span-7 append-1">
  <div class="field">
    <%= f.label :loan_payment %><br />
    <%= f.text_field :loan_payment, :class => "text span-7", :value => number_with_precision(f.object.loan_payment, :precision => 2), :disabled => "disabled" %>
  </div>
  <div class="field">
    <%= f.label :actual_payment, "Actual payment (includes escrow)" %><br />
    <%= f.text_field :actual_payment, :class => "text span-7", :value => number_with_precision(f.object.actual_payment, :precision => 2), :disabled => "disabled" %>
  </div>
</div>
<div class="span-7 last">
  <div class="field">
    <%= f.label :payoff_date %><br />
    <%= f.date_select :payoff_date, :class => "text span-7", :disabled => "disabled" %>
  </div>
  <div class="field">
    <%= f.label :payoff_time %><br />
    <%= f.text_field :payoff_time, :class => "text span-7", :disabled => "disabled" %>
  </div>
  <div class="field">
    <%= f.label :actual_payments %><br />
    <%= f.text_field :actual_payments, :value => number_with_precision(f.object.actual_payments, :precision => 0), :class => "text span-7", :disabled => "disabled" %>
  </div>
</div>
<% end %>