<%= form_for(@loan) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="span-24">
      <div class="field span-8 append-1">
        <%= f.label :name %>
        <br/>
        <%= f.text_field :name, :class => "text" %>
      </div>
      <div class="actions span-14 append-1 last">
        <% if user_signed_in? %>
            <button type="button" class="back-button" formaction="/loans">My Loans</button>
            <button type="submit" class="save-button alert-save">Save</button>
        <% else %>
            <button class="save-button">Save</button>
        <% end %>
      </div>
    </div>
    <div class="span-7 prepend-1">
      <div class="field">
        <%= f.label :asset_price %>
        <br/>
        <%= f.text_field :asset_price, :class => "text span-7", :value => number_with_precision(f.object.asset_price, :precision => 2) %>
      </div>
      <div class="field">
        <%= f.label :down_payment %>
        <br/>
        <%= f.text_field :down_payment, :class => "text span-7", :value => number_with_precision(f.object.down_payment, :precision => 2) %>
      </div>
    </div>
    <div class="span-7 prepend-1">
      <div class="field">
        <%= f.label :interest_rate %>
        <br/>
        <%= f.text_field :interest_rate, :class => "text span-7", :value => number_with_precision(f.object.interest_rate, :precision => 3) %>
      </div>
      <div class="field">
        <%= f.label :escrow_payment %>
        <br/>
        <%= f.text_field :escrow_payment, :class => "text span-7", :value => number_with_precision(f.object.escrow_payment, :precision => 2) %>
      </div>
      <div class="field">
        <%= f.label :planned_payment %>
        <br/>
        <%= f.text_field :planned_payment, :class => "text span-7", :value => number_with_precision(f.object.planned_payment, :precision => 2) %>
      </div>
    </div>
    <div class="span-7 prepend-1 last">
      <div class="field">
        <%= f.label :years %>
        <br/>
        <%= f.text_field :years, :class => "text span-7" %>
      </div>
      <div class="field">
        <%= f.label :payments_per_year %>
        <br/>
        <%= f.text_field :payments_per_year, :class => "text span-7" %>
      </div>
      <div class="field">
        <%= f.label :first_payment %>
        <br/>
        <%# f.date_select :first_payment, {}, :class => "text" %>
        <%= f.text_field :first_payment, :class => "text span-5" %>
      </div>
    </div>
<% end %>