<div class="prepend-18 span-4 end">
  <button type="button" class="new-button" title="Create" id="new-payment-button">New Payment</button>
  <hr class="space" />
</div>

<% if @loan.schedule_available? %>
<table>
  <thead>
  <tr>
    <th></th>
    <th>Date</th>
    <!--<th>To Principle</th>-->
    <th>Interest</th>
    <th>Escrow</th>
    <th>Payment</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% i = -1 %>
  <% @loan.payments.each do |payment| %>
  <tr>
    <%= form_for [@loan, payment] do |form| %>
    <%= fields_for payment do |f| %>
      <td><%= i += 1 %></td>
      <td><%= f.text_field :date, line[:date] %></td>
      <!--<td><%# number_to_currency line[:to_principle] %></td>-->
        <td><%= f.text_field :interest, line[:interest] %></td>
        <td><%= f.text_field :escrow, line[:escrow] %></td>
        <td><%= f.text_field :amount, line[:payment] %></td>
      <td><button>Set</button></td>
    <% end %>
    <% end %>
  </tr>
  <% end %>
  </tbody>

</table>
<% else %>
<h2>Payments are not loaded, perhaps you need to enter more data</h2>
<% end %>
