<% if @loan.schedule_available? %>
<table>
  <thead>
  <tr>
    <th></th>
    <th>Date</th>
    <th>Total</th>
    <th>To Principle</th>
    <th>Interest</th>
    <th>Escrow</th>
    <th>Payment</th>
  </tr>
  </thead>

  <tbody>
  <% i = -1 %>
  <% @loan.schedule.each do |line| %>
  <tr>
      <td><%= i += 1 %></td>
      <td><%= line[:date] %></td>
      <td><%= number_to_currency line[:total] %></td>
      <td><%= number_to_currency line[:to_principle] %></td>
      <td><%= number_to_currency line[:interest] %></td>
      <td><%= number_to_currency line[:escrow] %></td>
      <td><%= number_to_currency line[:payment] %></td>
  </tr>
  <% end %>
  </tbody>

</table>
<% else %>
<h2>Schedule is not loaded, perhaps you need to enter more data</h2>
<% end %>
