<div class="prepend-17 end">
<form action='<%= url_for :controller => "payments", :action => "new", :loan_id => @loan.id %>'
      class='new-payment' data-remote='true' data-remote='get' method='get'>
  <div>
    <button type="submit" class="new-button new-payment" id="new-payment">New Payments</button>
  </div>
  </form>​
</div>

<% if @payments %>
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>Interest</th>
        <th>Escrow</th>
        <th>Payment</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @payments.each do |payment| %>
          <tr>
            <td><%= payment.date %></td>
            <td><%= number_to_currency payment.interest %></td>
            <td><%= number_to_currency payment.escrow %></td>
            <td><%= number_to_currency payment.amount %></td>
            <td>
              <form action='<%= url_for :controller => "payments", :action => "destroy", :id => payment.id %>'
                    class='delete-payment' data-remote='true' data-remote='delete' method='delete'>
                <div>
                  <button type="submit" class="delete-button delete-payment" id="delete-payment-<%= payment.id.to_s %>">Delete</button>
                </div>
              </form>​
              </div>
            </td>
            <td>
              <form action='<%= url_for :controller => "payments", :action => "edit", :id => payment.id %>'
                    class='edit-payment' data-remote='true' data-remote='get' method='get'>
                <div>
                  <button type="submit" class="edit-button edit-payment" id="edit-payment-<%= payment.id.to_s %>">Edit</button>
                </div>
              </form>​
            </td>

          </tr>
      <% end %>
      </tbody>

    </table>

<% else %>
    <h2 class="alt">Add a payment</h2>
<% end %>
