<div id="payment-form" title="Edit Payment" >
  <%= form_for(@payment, :remote => true, :html => {'data-method' => :put}) do |f| %>
      <%= render 'shared/simple_error_messages', :object => f.object %>
      <div class="field">
        <%= f.label :amount %>
        <br/>
        <%= f.text_field :amount, :class => "text", :value => number_with_precision(f.object.amount, :precision => 2) %>
      </div>
      <div class="field">
        <%= f.label :interest %>
        <br/>
        <%= f.text_field :interest, :class => "text", :value => number_with_precision(f.object.interest, :precision => 2) %>
      </div>
      <div class="field">
        <%= f.label :escrow %>
        <br/>
        <%= f.text_field :escrow, :class => "text", :value => number_with_precision(f.object.escrow, :precision => 2) %>
      </div>
      <div class="field">
        <%= f.label :date %>
        <br/>
        <%= f.text_field :date, :class => "text", :value => number_with_precision(f.object.date, :precision => 2) %>
      </div>
  <% end %>
</div>
