<p id="notice"><%= notice %></p>

<p>
  <b>Loan:</b>
  <%= @payment.loan_id %>
</p>

<p>
  <b>Date:</b>
  <%= @payment.date %>
</p>

<p>
  <b>Interest:</b>
  <%= @payment.interest %>
</p>

<p>
  <b>Escrow:</b>
  <%= @payment.escrow %>
</p>

<p>
  <b>Amount:</b>
  <%= @payment.amount %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', loan_payments_path %>
